.pointer {
  cursor: pointer;
}

.tab-item {
  display: flex;
  align-items: center;
}

.TabIcon {
  width: 20px;
  text-align: center;
}

.TabIcon span {
  margin: 0 10px;
}

.closeIcon {
  display: none;
}

.navLi:hover .closeIcon {
  display: inline-block;
}

:global(.active) .closeIcon {
  display: inline-block;
}

.unsave .closeIcon {
  display: none;
}

.unsave:hover .ciycle {
  display: none;
}

.ciycle {
  display: none;
}

.unsave .ciycle {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
}